body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content2 {
    min-height: 400px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.as-loginStatus {
    float: right;
    position: relative;
    top: 5px;
}

    .as-loginStatus img {
        height: 50px;
    }

.as-cap, .gCap {
    display: inline-block;
    width: 140px;
}

input[type=checkbox] + label {
    display: inline-block;
    margin-left: 5px;
}


.as-markedRow {
    background: #aaffaa !important;
}

.navbar.navbar-fixed-top + .body-content {
    margin-top: 51px;
}
